@using SchoolTemplate.Database
@model Festival
@{
  ViewData["Title"] = "Festival";
  //List<Festival> artiesten = ViewData["artiesten"] as List<Festival>;
}
<div class="card-group-festival">
    <div class="card-group">
        <div class="card">
          <div class="card-body">
            <img src=@Model.Plaatje class="festival-foto"> <br/>
            <a href=# class="btn btn-primary ">Koop Tickets</a>
          </div>
        </div>

        <div class="card">
          
            <h3 class="beschrijving">@Model.Beschrijving</h3>
        </div>

        <div class="card">
            @foreach (Artiest artiest in Model.Artiesten)
            {
                <div class="scrollbox">
                    <h3>
                        Dag 1: <br />
                        @artiest.Dag1Act
                    </h3>
                    <h3> <br /></h3>
                    <h3>
                        Dag 2 <br />
                        @artiest.Dag2Act
                    </h3>
                    <h3> <br /></h3>
                    <h3>
                        Dag 3<br />
                        @artiest.Dag3Act
                    </h3>
                </div>
            }
        </div>

        <div class="card">
            @foreach (Prijs prijs in Model.Prijzen)
            {
                <div class="scrollbox">

                    <h3>
                        Dag 1:  @prijs.Dag1<br />
                        Dag 2:  @prijs.Dag2<br />
                        Dag 3   @prijs.Dag3<br />
                        Weekend: @prijs.WeekendExcl<br />
                        Weekend + Camping:  @prijs.WeekendIncl
                    </h3>
                </div>
            }

        </div>
    </div>
</div>
